* {
	margin: 0;
	padding: 0;
}

input[type="text"], input[type="password"], textarea {
	-webkit-border-radius: 5px;
	-webkit-box-shadow: 1px 1px 5px -1px rgba(0, 0, 0, 0.25) inset;
	background-color: white;
	border: 1px solid #B9B9B9;
	margin: 2px 0 10px 0;
	padding: 3px 3px 3px 5px;
}

input[type="text"]:focus, input[type="password"]:focus, textarea:focus {
	border: 1px solid #00C3FF;
	outline: none;
}

input[type="submit"] {
	padding: 0 5px;
}

a {
    color:#09F;
    text-decoration: none;
}
a:hover {
    color: #2ea8ff;
    text-decoration: underline;
}

a:visited {
    color:#D45CE1;
    text-decoration: none;
}

body {
	font-family: Arial, Verdana, Georgia, sans-serif;
	vertical-align: top;
	background-color: #EDFFDF;
	height: 100%;
	
}

#logo {
	color: gray;
	font-size: 1.4em;
}

#container {

	overflow: hidden;

}

#header {
	padding: 20px;
	overflow: hidden;
	box-shadow: 0px 0px 15px #636363;
	border-top: 4px solid #FFCF00;
	background-color: #fff;
	margin-bottom: 20px;
}

a#login-button {
	border-radius: 3px;
	border: 1px solid #C6C6C6;
	padding: 8px 10px;
	text-decoration: none;
	font-size: 0.9em;
	color: black;
	float: right;
	height: 15px;
	width: 100px;
	text-align: center;
}

a#login-button:hover {
	border: 1px solid #00C3FF;
}
a#login-button:active {
	border: 1px solid #09f;
}

a#login-button img {
	float: left;
}

#login-menu {
	padding: 20px;
	background-color: white;
	position: absolute;
	top: 64px;
	right: 20px;
	border: 1px solid #C6C6C6;
	border-radius: 5px;
	border-top-right-radius: 0;
	display: none;
	font-size: 0.8em;
}



.wrap_center {
	width: 960px;
	margin: 0 auto;
}

#main-content {
	background-color: #fff;
	padding: 40px;
	box-shadow: 0px 0px 15px #636363;
	border-top: 4px solid #92FF0B;
	min-height: 400px;
	margin-top: 20px;
	overflow: hidden;
}

h2 {
	color: gray;
	border-bottom: 1px solid silver;
	padding-left: 5px;
}

ul {
	list-style: none;
}

/*################Listar Salas###################*/

#ListaSalasBody {
	height: 100%;
	position: relative;
}

/*#formSalas {
	float:left;
	width: 100%;
	text-align: center;
}*/

#ListaSalas {
	float:left;
	padding: 0px 0px 0px 80px;
	width: auto;
}

#listaPaginas {
	padding: 0 0 0 100;
}

#prevArrow {
	float: left;
	position: relative;
	width: 40%;
	padding: 0px 0px 0px 0px;
	margin: 0 0 0 0;
}

#numPags {
	float:left;
	position: relative;
	width: 10%;
	text-align: center;
	padding: 0 60 0 0;
}

#nextArrow {
	text-align: right;
	float: left;
	position: relative;
	width: 33%;
	padding: 0px 0px 0px 0px;
}

.Sala {
	float:left;
	background-color: #D0F5A9;
	width: 100px;
	height: 125px;
	padding: 10 10 10 10;
	margin: 10 5 10 10;
	box-shadow: 0px 0px 10px #636363;
	border-radius: 1px;
}

.Sala:hover {
	float:left;
	background-color: #D0F5A9;
	width: 100px;
	height: 125px;
	padding: 10 10 10 10;
	margin: 10 5 10 10;
	box-shadow: 0px 0px 25px #0B3B0B;
	border-radius: 1px;
}

.rowEstado {
	padding: 0 0 0 10;
	float: left;
}

.bodyRow {
	font-size: small;
	color: #424242;
}

.rowImage {
	text-align: center;
	margin: 5 0 20 0;
}

.rowNomb {
	font-size: small;
	text-align: center;
	font-weight: bold;
	background-color: #92FF0B;
	border-radius: 5px;
	border: dashed 1px;
	margin: 0 0 10 0;
	color: #848484;
}
.rowAutor {
	
}
.rowFecha {
	font: #00C3FF;
}
.rowTipo {
	
}
.rowPlayers {
	
}
.rowEstado {
	
}

.rowEnter {
	font-size: large;
	border-radius: 5px;
	text-align: center;

	margin: 1 0 10 0;
	font: #00C3FF;
	
}


#buttons a, #buttons button{
    margin:0 7px 0 0;
    background-color:#f5f5f5;
    border:1px solid #dedede;
    border-top:1px solid #eee;
    border-left:1px solid #eee;
    font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
    font-size:12px;
    line-height:130%;
    text-decoration:none;
    font-weight:bold;
    color:#565656;
    cursor:pointer;
    padding:5px 10px 6px 7px; /* Links */
}
#buttons button{
    width:auto;
    overflow:visible;
    padding:4px 10px 3px 7px; /* IE6 */
}
#buttons button[type]{
    padding:5px 10px 5px 7px; /* Firefox */
    line-height:17px; /* Safari */
}
*:first-child+html button[type]{
    padding:4px 10px 3px 7px; /* IE7 */
}
#buttons button img, .buttons a img{
    margin:0 3px -3px 0 !important;
    padding:0;
    border:none;
    width:16px;
    height:16px;
}

#mask {
  position:absolute;
  z-index:9000;
  background-color:#848484;
  display:none;
  left:-25%;
  top: -23%;
}
   
#ListaSalasBody .window {
  position:fixed;
  width:440px;
  height:200px;
  display:none;
  z-index:9999;
  padding:20px;
}
 
#ListaSalasBody #formSalas {
	border: solid 1px;
	width:375px; 
	height:203px;
	background-color: #EDFFDF;
	box-shadow: 0px 0px 25px #636363;
	text-align: center;
}


/*##################Sala de juego#############*/

#salaJuegoContent {
	float:left;
	width: 100%;
}

#salaJuegoBody {
	float:left;
	width: 79%;
	height: 50%;
	margin: 0px 9px 0px 0px;
	box-shadow: 0px 0px 10px #636363;
}

#salaJuegoUsers {
	float:left;
	width: 20%;
	height: 50%;
	box-shadow: 0px 0px 10px #636363;
}

#salaJuegoChat {
	float:left;
	width: 79%;
	height: 10%;
	margin: 10px 9px 0px 0px;
	box-shadow: 0px 0px 10px #636363;
}

#salaPlay {
	float:left;
	width: 20%;
	height: 7%;
	margin: 10px 0px 0px 0px;
	box-shadow: 0px 0px 10px #636363;
	text-align: center;
	font-size: larger;
	font-weight: bold;
	padding: 20px 0px 0px 0px;
}

#playerContainer {
	float: left;
	position: relative;
	margin: 8px 2px 0px 8px;
	font-size: small;
	box-shadow: 0px 0px 10px #636363;
	
}

#playerAvatar {
	padding: 2px 2px 2px 2px;
	float: left;
	position: relative;
}

#playerDatos {
	padding: 2px 2px 2px 2px;
	float: left;
	position: relative;
}
