{% extends "templates/pattern.html" %}

{% block title %}Administracion{% endblock %}

{% block head %}

<script>
	function validapalabra()
	{
		var word = document.getElementById("palabra").value;
		var tema = document.getElementById("tema").value;
		var expreg = /^([A-NO-Za-no-z])+$/;
		var msg = "Error: \n";
		var todook = true;
		
		if(word == "" && tema == "")
		{
			msg += "Debe de haber un campo que no esté vacío";
			return false;
		}
		else
		{
			if(word != "")
			{
				if(!expreg.test(word))
				{
					msg += "Las palabras sólo pueden tener letras y espaciosn\n";
					todook = false;
				}
			}
			if(tema != "")	
			{
				if(!expreg.test(tema))
				{
					msg += "El tema sólo puede tener letras y espacios\n";
					todook = false;
				}
			}	
		}
		if(!todook)
		{
			alert(msg);
			return false;
		}
		return todook;
	}
</script>

{% endblock %}

{% block container %}

<div class="row">
		<div class="span12">
			<form class="form-horizontal" id="insPalabraForm" action="/administracion" method="post">
				<fieldset>
				<legend>Página de Administración</legend>
					<div class="control-group">
						<label class="control-label" for="inputPalabra">Palabra</label>
						<div class="controls">
							<input type="text" name="palabra" id="inputPalabra">
							<!--
							<span class="help-inline">---</span>
							-->
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="inputTema">Tema</label>
						<div class="controls">
							<input type="text" name="tema" id="inputTema">
							<!--
							<span class="help-inline">---</span>
							-->
						</div>
					</div>
					<div class="form-actions">
						<button type="submit" class="btn btn-primary">Añadir palabra</button>
					</div>
				</fieldset>
			</form>  
		</div>
	</div>
	
{% endblock %}
