{% extends "templates/pattern.html" %}

{% block title %}Inicio{% endblock %}

{% block content %}
	<h2>Inicio</h2>
	<br/><br/>
        <div id="bodyIndex">
			<a href="/registro">
            <div id="botonNewUser" class="botonIndex">
                <img src="/img/index/new.png" alt="Registro" /><span>Nuevo usuario</span>
            </div>
            </a>
            <a href="/salas">
            <div id="botonListado" class="botonIndex">
                <img src="/img/index/listaSalas.png" alt="Listado de salas" /><span>Listado de salas</span>
            </div>
            </a>
            <a href="/administracion">
				<div id="botonAdmin" class="botonIndex">
					<img src="/img/index/administracion.png" alt="Administracion" /><span>Admin</span>
				</div>
            </a>
        </div>
{% endblock %}
