{% extends "templates/pattern.html" %}

{% block title %}Inicio{% endblock %}

{% block container %}
	
	<div class="row">
		<div class="span12">
			<h2>Página de inicio</h2>
			
			<div class="row">				
				<div class="span3">
					
					<br/>
					<h4>Enlaces</h4>
					<ul class="nav nav-list">
					<li>
						<a href="/">Indice</a>
					</li>
					<li class="nav-header">
						Usuarios
					</li>
					<li>
						<a href="/registro">Registro</a>
					</li>
					<li>
						<a href="#">Login</a>
					</li>
					<li>
						<a href="/perfil">Perfil</a>
					</li>
					<li class="nav-header">
						Juego
					</li>
					<li>
						<a href="/reglas">Reglas</a>
					</li>
					<li>
						<a href="/salas">Salas</a>
					</li>
					<li class="nav-header">
						Administración
					</li>
					<li>
						<a href="/administracion">Administracion</a>
					</li>
					
					</ul>
				</div>
<!--
				<div class="span4">
					<a href="/registro">
						<div id="botonNewUser" class="botonIndex">
						{% if not user %}
							<img src="/img/layout/regist-large.png" alt="Registro" /><span>Nuevo usuario</span>
						{% endif %}
						</div>
					</a>				
				</div>
				<div class="span4">
					<a href="/salas">
						<div id="botonListado" class="botonIndex">
							<img src="/img/layout/salas-large.png" alt="Listado de salas" /><span>Listado de salas</span>
						</div>
					</a>
				</div>
				<div class="span4">
					<a href="/administracion">
						<div id="botonAdmin" class="botonIndex">
							{% if user.nick == "Admin" %}
							<img src="/img/layout/admin-large.png" alt="Administracion" /><span>Admin</span>
							{% endif %}
						</div>
					</a>
				</div>
-->
			</div>
		</div>
	</div>
        
{% endblock %}
