{% extends "templates/pattern.html" %}

{% block title %}Inicio{% endblock %}

{% block content %}
	<h2>Inicio</h2>
	<br/><br/>
        <div id="bodyIndex">
            <div id="botonNewUser" class="botonIndex">
                <a href="/registro"><img src="/img/index/new.png" alt="Registro" /></a>
            </div>
            <div id="botonListado" class="botonIndex">
                <a href="/salas"><img src="/img/index/listaSalas.png" alt="Listado de salas" /></a>
            </div>
            <div id="botonAdmin" class="botonIndex">
                <a href="/administracion"><img src="/img/index/administracion.png" alt="Administracion" /></a>
            </div>
        </div>
{% endblock %}
