{% extends "templates/pattern.html" %}

{% block title %}Juego{% endblock %}


{% block head %}
	<style>

		#wordZone {
			background-color: #FAFAD6;
			border: 2px solid #F6D87D;
			padding: 20px 10px;
			text-align: center;
			margin: 15px;
			display: none;
			border-radius: 3px;
			font-weight: bold;
			color: #FF8245;
		}

		#listUsers {
			margin: 0;
		}

		.userBlock {
			border: 1px solid silver;
			list-style-type: none;
			margin: 10px;
			padding: 5px;
			border-radius: 5px;
		}
		
		.userBlock.active {
			border: 1px solid #09f;
			background-color: #DFF7F8;			
		}

		canvas, canvas:active, canvas:focus {
			cursor: pointer;
		}
		
		canvas.pencil, canvas.pencil:active, canvas.pencil:focus {
			cursor: url(../img/layout/lapiz.cur), pointer;
		}
		
		canvas.rectangle, canvas.rectangle:active, canvas.rectangle:focus {
			cursor: crosshair;
		}

		#colorPicker {
			margin:0;
			list-style-type: none;
			overflow: hidden;
		}

		#colorPicker li {
			border: 1px solid black;
			width: 20px;
			height: 20px;
			float: left;
			margin-left: 5px;
			cursor: pointer;
			opacity: 0.6;
		}

		#colorPicker li:hover {
			opacity: 1.0;
		}

		#chatZone-history {
			border: 1px solid silver;
			border-radius: 3px;
			height: 476px;
			margin-bottom: 5px;
		}

		#chatZone-history ul {
			list-style: none;
			font-size: 0.9em;
			overflow: auto;
			color: #333333;
			height: 466px;
			padding: 10px;
			margin: 0;			
		}

		.report {
			border: 2px solid #D8FFA6;
			padding: 3px;
			background-color: #EDFFD5;
			color: #09F;
			font-weight: bold;
		}
		
		.report .repWord {
			color: #FF7000;
			font-size: 1.5em;
			text-align: center;
		}
		
		.report .repUser {
			color: #C60059;
			font-size: 1.2em;
		}
		

		#chatZone-history li {
			margin: 5px 0;
			
		}

		#chatZone-history li span.userMsj {
			font-weight: bold;
			color: black;
		}

		#chatZone-history ul::-webkit-scrollbar {
			width: 6px;
		}
		/* Track */
		#chatZone-history ul::-webkit-scrollbar-track {
			-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
			-webkit-border-radius: 10px;
			border-radius: 10px;
		}

		/* Handle */
		#chatZone-history ul::-webkit-scrollbar-thumb {
			-webkit-border-radius: 10px;
			border-radius: 10px;
			background: #EBEBEB;
			-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
		}

		#chatZone-history ul::-webkit-scrollbar-thumb:hover {
			background: #F5F5F5;
		}
		
		#chatZone-form #appendedPrependedInput {
			width: 128px;
		}
	</style>
{% endblock %}


{% block script %}
	<script type="text/javascript" src='/_ah/channel/jsapi'></script>
	<script type="text/javascript">
		var state = {
			token: '{{ token }}',
			game_key: '{{ game_key }}',
			user_key: '{{ user.key }}'
		};		
	</script>
	<script type="text/javascript" src='js/broadcast.js'></script>
	<script type="text/javascript" src='js/blackboard.js'></script>
	<script type="text/javascript" src='js/chat.js'></script>
	<script type="text/javascript" src='js/juego.js'></script>
	<script>
			$('#modalFin').on('hidden', function () {
				window.location.replace("/salas");
			})
			
	</script>
	
{% endblock %}


{% block container %}
	<div class="row">
		<div class="span12">
			<div class="row">
				<div class="span2">
						<h3>Palabra</h3>
						<p id="wordZone"></p>
						<h3>Jugadores</h3>
						<ul id="listUsers">
						{% for userBlock in users_playing %}
							<li class="userBlock" id="{{ userBlock.user.key }}">
								<p>
									<a href="/perfil?user={{userBlock.user.nick}}" title="Ir al perfil de {{userBlock.user.nick}}">{{ userBlock.user.nick }}</a>
								</p>
								<p>
									<b>Ptos:</b>
									<span  id="{{ userBlock.user.key }}" class="badge badge-warning">{{userBlock.ptos}}</span>
								</p>
							</li>
						{% endfor %}
						</ul>
						<div id="timeZone">
							<h3>Tiempo</h3>
							<form id="timer-form" name="crono">  
							<p><input type="text" class="span2"  size="8" name="display" value="01:30:0"></p>
							</form>
						</div>					
				</div>
				<div class="span8">
					<div style = "width:605px; margin:auto">
						<canvas id="myCanvas" width="600" height="500" style="border: 1px solid silver">
						</canvas>
						<div class="btn-toolbar">
							<div class="btn-group">
								<a class="btn btn-info disabled" href="#">Formas</a>
								<a class="btn active" href="#" id="toLapiz" title="Lapiz"><i class="icon-pencil"></i></a>
								<a class="btn" href="#" id="toRectangulo" title="Rectangulo"><i class="icon-stop"></i></a>
							</div>
							<div class="btn-group">
								<a class="btn btn-info disabled" href="#">Color</a>
								<a class="btn" href="#" id="colorPicker-btn"><i class="icon-tint"></i></a>
							</div>
							<div class="btn-group">
								<a class="btn btn-info disabled" href="#">Grosor</a>
								<a class="btn active thickBtn" href="#" id="toTres">1</a>
								<a class="btn thickBtn" href="#" id="toCinco">2</a>
								<a class="btn thickBtn" href="#" id="toDiez">3</a>
								<a class="btn thickBtn" href="#" id="toVeinte">4</a>
							</div>
						</div>
					</div>
				</div>
				<div class="span2">
					<div id="chatZone-history">
						<ul>				
						</ul>
					</div>
					<form class="form-horizontal" id="chatZone-form">
						<fieldset>
							 <input type="text" class="span2" placeholder="Respuesta | mensaje">
						</fieldset>
					</form>					
				</div>
			</div>

		</div>
	</div>

	<div class="modal hide fade" id="modalFin">
		<div class="modal-header">
			<button class="close" data-dismiss="modal">x</button>
			<h3>Tenemos un vencedor</h3>
		</div>
		<div class="modal-body">
			<h1><span id="winner"></span></h1>
		</div>
		<div class="modal-footer">
			<a href="#" class="btn" data-dismiss="modal" id="return">Volver</a>
		</div>
	</div>
{% endblock %}
