{% extends "templates/pattern.html" %}

{% block title %}Juego{% endblock %}


{% block head %}
	<style>
		canvas, canvas:focus, canvas:active {
				cursor: pointer;
			}
			
		#colorPicker {
			margin:0;
			list-style-type: none;
			overflow: hidden;
		}
		
		#colorPicker li {
			border: 1px solid black;
			width: 20px;
			height: 20px;
			float: left;
			margin-left: 5px;
			cursor: pointer;
			opacity: 0.6;
		}
		
		#colorPicker li:hover {
			opacity: 1.0;
		}
		
	</style>
{% endblock %}


{% block script %}
	<script type="text/javascript" src='/_ah/channel/jsapi'></script>
	<script type="text/javascript">
		var state = {
			token: '{{ token }}',
			game_key: '{{ game_key }}',
			user_key: '{{ user.key }}'
		};		
	</script>
	<script type="text/javascript" src='js/broadcast.js'></script>
	<script type="text/javascript" src='js/blackboard.js'></script>
	<script type="text/javascript" src='js/chat.js'></script>
	<script type="text/javascript" src='js/juego.js'></script>
	
	

{% endblock %}

{% block content %}
<div id="game-content">
	<div id="usersZone">
		<h3>Palabra</h3>
		<p id="wordZone"></p>
		<h3>Jugadores</h3>
		<ul>
		{% for userBlock in users_playing %}
			<li id="{{ userBlock.user.key }}">
				<p>
					<a href="/perfil?user={{userBlock.user.nick}}" title="Ir al perfil de {{userBlock.user.nick}}">{{ userBlock.user.nick }}</a>
				</p>
				<p>
					<b>Ptos:</b>
					<span class="userScore"> {{userBlock.ptos}}</span>
				</p>
			</li>
		{% endfor %}
		</ul>
		<div id="timeZone">
			<h3>Tiempo</h3>
			<form id="timer-form" name="crono">  
			<p><input type="text" size="8" name="display" value="01:30:0"></p>
			</form>
		</div>			
	</div>

	<div id="drawZone">
		<canvas id="myCanvas" width="600" height="500"></canvas>
	</div>
	<div id="chatZone">
		<div id="chatZone-history">
			<ul>				
			</ul>
		</div>
		<form id="chatZone-form">
			<input type="text" placeholder="Respuesta | mensaje" />
		</form>

	</div>
</div>

{% endblock %}




{% block container %}
	<div class="row">
		<div class="span12">
		Level 1 of column
			<div class="row">
				<div class="span2">Level 2
						<h3>Palabra</h3>
						<p id="wordZone"></p>
						<h3>Jugadores</h3>
						<ul>
						{% for userBlock in users_playing %}
							<li id="{{ userBlock.user.key }}">
								<p>
									<a href="/perfil?user={{userBlock.user.nick}}" title="Ir al perfil de {{userBlock.user.nick}}">{{ userBlock.user.nick }}</a>
								</p>
								<p>
									<b>Ptos:</b>
									<span class="userScore"> {{userBlock.ptos}}</span>
								</p>
							</li>
						{% endfor %}
						</ul>
						<div id="timeZone">
							<h3>Tiempo</h3>
							<form id="timer-form" name="crono">  
							<p><input type="text" size="8" name="display" value="01:30:0"></p>
							</form>
						</div>	
					
					<p id="toTres" > 3</p>
					<p id="toCinco" > 5</p>
					<p id="toDiez" > 10</p>
					<p id="toVeinte" > 20</p>
				
				</div>
				<div class="span8">
					<div style = "width:605px; margin:auto">
						<canvas id="myCanvas" width="600" height="500" style="border: 1px solid silver">
						</canvas>
						<div class="btn-group">
							<a class="btn active" href="#" id="toLapiz"><i class="icon-pencil"></i></a>
							<a class="btn" href="#" id="toRectangulo"><i class="icon-stop"></i></a>
							<a class="btn" href="#" id="colorPicker-btn"><i class="icon-tint"></i></a>
						</div>
					</div>
				</div>
				<div class="span2" style="background-color: orange">
					<div id="chatZone-history">
						<ul>				
						</ul>
					</div>
					<form class="form-horizontal" id="chatZone-form">
						<fieldset>
							<div class="input-append">
								<input class="span" id="appendedPrependedInput" style="width: 120px" size="6" type="text"><button class="btn" type="button">></button>
							</div>
						</fieldset>
					</form>					
				</div>
			</div>

		</div>
	</div>
{% endblock %}
