{% extends "templates/pattern.html" %}

{% block title %}Login{% endblock %}

{% block script %}

	<script>
		
		$(document).ready(function() {	
			$('#formLogin').on('submit', function(e) {
				$('.help-inline').hide();
				$('.control-group').removeClass('error');
				if (validaLogin() == false)
					e.preventDefault();
			});			
		});
		
		function validaLogin()
		{
			var correcto = true;
						
			var nick = $('#inputLogNick');
			var regexUserPass = /^([A-Za-z0-9])+$/;
			if (nick.val() == "" || !regexUserPass.test(nick.val()))
			{
				nick.parents('div.control-group').addClass('error').find('.help-inline').show();
				correcto = false;
			}
			
			var pass = $('#inputLogPass');
			if (pass.val() == "" || !regexUserPass.test(pass.val()))
			{
				pass.parents('div.control-group').addClass('error').find('.help-inline').show();
				correcto = false;
			}
						
			return correcto;
		}		
			
	</script>

{% endblock %}

{% block container %}
	<div class="row">
		<div class="span12">
			<form class="form-horizontal" id="formLogin" action="/login" method="post">
				<fieldset>
				<legend>Entrada de usuarios</legend>
					<div class="control-group">
						<label class="control-label" for="inputLogNick">Nick</label>
						<div class="controls">
							<input type="text" name="user" id="inputLogNick">
							<span class="help-inline hide">El nombre de usuario sólo admite caracteres alfanuméricos</span>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="inputLogPass">Contraseña</label>
						<div class="controls">
							<input type="password" name="pass" id="inputLogPass">
							<span class="help-inline hide">La contraseña sólo admite caracteres alfanuméricos</span>
						</div>
					</div>
					<div class="form-actions">
						<button type="submit" class="btn btn-primary">Entrar</button>
					</div>
				</fieldset>
			</form>  
		</div>
	</div>

<!--
	<h2>Entrada de usuarios</h2>
	<form id="f1" action="/login" method="post">
		<label for="user">Nombre Usuario: </label><br />  
		<input type="text" id="log" name="user" maxlength="20"/>
		<br />  
		<label for="contra">Password: </label><br />  
		<input type="password" id="passlog" name="contra" maxlength="20"/>
		<br /> 		
		<input type="submit" value="Enviar"/>
	</form>
	<br/><br/>
	<p>Si no tienes cuenta puedes <a href="http://localhost:8080/registro">registrate aquí.</a></p>
-->
{% endblock %}
