{% extends "templates/pattern.html" %}

{% block title %}Login{% endblock %}

{% block head %}

	<script>
		function validalogin()
		{
			var msg = "Error:\n";
			var todook = true;
				
			/*********** NOMBRE ***********/

			var name = document.getElementById("log").value;

			var expuser = /^([A-NO-Za-no-z0-9])+$/;

			if(!expuser.test(name))
			{
				msg += "El nombre de usuario sólo admite caracteres alfanuméricos\n";
				todook = false;
			}

			/*********** CONTRASEÑA ***********/

			var password = document.getElementById("passlog").value;
			var exppass = /^[A-NO-Za-no-z0-9]{6,15}$/;
					
			if(!exppass.test(password))
			{
				msg += "La contraseña sólo puede tener letras y números. Con una longitud entre 6 y 15 caracteres\n";
				todook = false;
			}

			if (!todook) {
				alert(msg);
				return false;
			}			
		}		
	</script>

{% endblock %}

{% block container %}
	<div class="row">
		<div class="span12">
			<form class="form-horizontal" id="formLogin" action="/login" method="post">
				<fieldset>
				<legend>Entrada de usuarios</legend>
					<div class="control-group">
						<label class="control-label" for="inputRegNick">Nick</label>
						<div class="controls">
							<input type="text" name="user" id="inputRegNick">
							<span class="help-inline">El nombre de usuario sólo admite caracteres alfanuméricos</span>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="inputRegPass">Contraseña</label>
						<div class="controls">
							<input type="password" name="pass" id="inputRegPass">
							<span class="help-inline">La contraseña sólo admite caracteres alfanuméricos</span>
						</div>
					</div>
					<div class="form-actions">
						<button type="submit" class="btn btn-primary">Entrar</button>
					</div>
				</fieldset>
			</form>  
		</div>
	</div>

<!--
	<h2>Entrada de usuarios</h2>
	<form id="f1" action="/login" method="post">
		<label for="user">Nombre Usuario: </label><br />  
		<input type="text" id="log" name="user" maxlength="20"/>
		<br />  
		<label for="contra">Password: </label><br />  
		<input type="password" id="passlog" name="contra" maxlength="20"/>
		<br /> 		
		<input type="submit" value="Enviar"/>
	</form>
	<br/><br/>
	<p>Si no tienes cuenta puedes <a href="http://localhost:8080/registro">registrate aquí.</a></p>
-->
{% endblock %}
