{% extends "templates/pattern.html" %}

{% block title %}Perfil{% endblock %}

{% block script %}
	<script>
		var param = location.hash;

		$("#myTabs a").each(function() {
			if($(this).attr('href') == param)
			{
				$(this).tab('show');
			}
		});


		$('#myTab a').click(function(e){
			e.preventDefault();
			$(this).tab('show');
		});

		
		function ModificarPerfil()
		{
			
			//document.getElementById("textNick").disabled = false;
			document.getElementById("textPass").disabled = false;
			document.getElementById("updateProfile").style.display = "none";
			document.getElementById("submitProfile").style.display = "";
			document.getElementById("repeatpass").style.display = "";
			document.getElementById("textPass2").style.display = "";
			document.getElementById("textMail").disabled = false;
			document.getElementById("uploadPhoto").style.display = "";
			document.getElementById("change").style.display = "";
		}
		
		function ObtenerReceptor(recep)
		{
			if(recep.options[recep.selectedIndex].text != "Selecciona amigo")
			{
				var x=recep.options[recep.selectedIndex].text;
				document.getElementById("receptor").value = x;
				document.getElementById("submitmsj").disabled = false;
			}	
			else document.getElementById("submitmsj").disabled = true;
		}
	</script>
{% endblock %}


{% block container %}
	<ul class="nav nav-tabs" id="myTabs">
		<li class="active"><a href="#perfil" data-toggle="tab">Perfil</a></li>
		<li><a href="#amigos" data-toggle="tab">Amigos</a></li>
		{% if user == userProfile %}
			<li><a href="#puntuaciones" data-toggle="tab">Puntuaciones</a></li>
		{% else %}
			{% if isAmigo %}
					<li><a href="#puntuaciones" data-toggle="tab">Puntuaciones</a></li>
			{% endif %}
		{% endif %}
		{% if user %}
			{% if user == userProfile %}
				<li><a href="#mensajes" data-toggle="tab">Mensajes</a></li>
			{% endif %}
		{% endif %}
	</ul>

	<div class="tab-content">
		<div class="tab-pane active" id="perfil">
			<div class="row">
				<div class="span12">
					<div class="row">
						<div class="span9">
							<form  class="well" id="formUpdate" action="/perfil" enctype="multipart/form-data" method="post">
								<label><span>Nombre de usuario:</span> </label> <input class="span3" id="textNick" type="text" name="user" value="{{userProfile.nick}}" disabled="true"/>	
								<label><span>Contraseña:</span> </label> <input class="span3" id="textPass" type="password" name="contra" value="{{userProfile.password}}" disabled="disabled"/>
								<label id="repeatpass" style="display:none"><span>Repetir contraseña:</span> </label> <input class="span3" id="textPass2" style="display:none" type="password" name="contra2" value="{{userProfile.password}}"/>
								<label><span>Correo electrónico:</span> </label> <input class="span3" id="textMail" type="text" name="mail" value="{{userProfile.email}}" disabled="disabled"/>
								<br/><label id="change" style="display:none"><span >Cambiar foto:</span> </label> <input type="file" id="uploadPhoto" style="display:none" name="img"/>
								<br/>
								
									{% if user %}
										{% if user == userProfile %}
											<input id="updateProfile" type="button" class="btn btn-primary" value="Modificar perfil" onclick="ModificarPerfil()"/>
											<input id="submitProfile" type="submit" class="btn btn-primary" style="display:none" value="Validar datos"/>
										{% endif %}
									{% endif %}
							</form>
						</div>
						<div class="span3">
							<div class="span3">
								{% if user.avatar %}
								<img id="avatar" src="/imgs/user?img_id={{userProfile.key}}" width="200" height="200" alt="Imagen de usuario"/> 
								{% else %}
								<img id="avatar" src="/img/layout/default-user.jpg" alt="Imagen de usuario"/> 
								{% endif %}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	
		<div class="tab-pane" id="amigos">
			<div class="row">
				<div class="span12">
					<div class="row">
						<div class="span9">
							{% if user %}
								{% if user != userProfile %}
									{% if not isAmigo %}
										<a class="btn btn-info" href="/perfil?user={{userProfile.nick}}&amistad=0"><i class="icon-heart icon-white"></i> Pedir amistad</a>
									{% else %}
										<h3>Ya sois amigos</h3>
									{% endif %}
								{% endif %}
							{% endif %}
							
							{% if user %}
								{% if user == userProfile %}
									<h2> Peticiones </h2>
									{% for p in listaPeticiones %}
										<form class="well">
											<h3><a href="/perfil?user={{p.amigo.nick}}">{{p.amigo.nick}}</a>
											<a class="btn btn-success btn-mini" href="/perfil?user={{userProfile.nick}}&aceptar={{p.amigo.nick}}"><i class="icon-ok icon-white"></i></a>
											<a class="btn btn-danger btn-mini" href="/perfil?user={{userProfile.nick}}&denegar={{p.amigo.nick}}"><i class="icon-remove icon-white"></i></a></h3>
										</form>
									{%endfor%}
									<hr></hr>
									<h2> Lista </h2>
									{% for p in listaAmigos %}
										<form class="well">
											<h3><a href="/perfil?user={{p.amigo.nick}}">{{p.amigo.nick}}</a>
											<a class="btn btn-danger btn-mini" href="/perfil?user={{userProfile.nick}}&eliminar={{p.amigo.nick}}"><i class="icon-remove-sign icon-white"></i></a></h3>
										</form>
									{%endfor%}
								{% endif %}
							{% endif %}
						</div>
						<div class="span3">
								{% if user.avatar %}
								<img id="avatar" src="/imgs/user?img_id={{userProfile.key}}" width="200" height="200" alt="Imagen de usuario"/> 
								{% else %}
								<img id="avatar" src="/img/layout/default-user.jpg" alt="Imagen de usuario"/> 
								{% endif %}
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="tab-pane" id="puntuaciones">
			<div class="row">
				<div class="span12">
					<div class="row">
						<div class="span9">
							<form class="well">
								<h6>Total</h6>
								<h1>{{userProfile.ptos}} ptos</h1> 
							</form>
							<hr></hr>
							<p><h2>Últimas partidas</h2></p>
							{% for p in listaPartidas %}
								<form class="well">
									<h4>{{p.nombrePartida}}</h4>
									<h5>{{p.ptos}}</h5>
									{% if p.win %}
										<p><i class="icon-star-empty icon-white"></i></p>
									{% endif %}
								</form>
							{%endfor%}
						</div>
						<div class="span3">
								{% if user.avatar %}
								<img id="avatar" src="/imgs/user?img_id={{userProfile.key}}" width="200" height="200" alt="Imagen de usuario"/> 
								{% else %}
								<img id="avatar" src="/img/layout/default-user.jpg" alt="Imagen de usuario"/> 
								{% endif %}
						</div>
					</div>
				</div>
			</div>
		</div>	
				<div class="tab-pane" id="mensajes">
					<div class="row">
						<div class="span12">
							<div class="row">
								<div class="span9">
									<p><h2>Mensajes recibidos</h2></p>
											<div class="accordion" id="accordion2">
											{% for p in listaMensajes %}
												{% if p.receptor == userProfile.nick %}
													<div class="accordion-group">
														<div class="accordion-heading">
															<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse{{p.key}}">
															  Mensaje de: {{p.emisor}}
															</a>
														</div>
														<div id="collapse{{p.key}}" class="accordion-body collapse">
															<div class="accordion-inner">
															  <p>{{p.mensaje}}</p>
															  <p><button class="btn btn-mini btn-success" type="submit"><i class="icon-ok icon-white"></i> Visto </button></p>
															</div>
														</div>
													</div>
												{% endif %}
											{%endfor%}
											</div>
										<hr></hr>
								</div>
									<div class="span3">
											{% if user.avatar %}
											<img id="avatar" src="/imgs/user?img_id={{userProfile.key}}" width="200" height="200" alt="Imagen de usuario"/> 
											{% else %}
											<img id="avatar" src="/img/layout/default-user.jpg" alt="Imagen de usuario"/> 
											{% endif %}
									</div>
														
								</hr>
								<div class="span9">
									<p><h2>Enviar mensaje</h2></p>
										<form id="sendMessage" action="/mens/envio" method="post">
											<select onchange="ObtenerReceptor(this)">
												<option id="opcion" value="nadie">Selecciona amigo</option>
											{% for p in listaAmigos %}
													<option id="opcion" value="{{p.amigo.nick}}">{{p.amigo.nick}}</option>	
											{%endfor%}
											</select>
											<br/>
											<input type="text" id="receptor" style="display:none" name="receptor"/>
											<textarea rows="5" cols="1" name="texto"></textarea>
											<br/>
											<input id="submitmsj" type="submit" value="Enviar" disabled="true"/>
											<input type="reset" value="Borrar"/>
										</form>
									
								</div>
							</div>
						</div>
					</div>
				</div>
	</div>

	

{% endblock %}

