{% extends "templates/pattern.html" %}

{% block title %}Perfil{% endblock %}

{% block script %}
	<script>
		$('#myTab').tab('show')
		$(function () {
			$('.tabs a:last').tab('show')
		})
		
		function ModificarPerfil()
		{
			
			//document.getElementById("textNick").disabled = false;
			document.getElementById("textPass").disabled = false;
			document.getElementById("updateProfile").style.display = "none";
			document.getElementById("submitProfile").style.display = "";
			document.getElementById("repeatpass").style.display = "";
			document.getElementById("textPass2").style.display = "";
			document.getElementById("textMail").disabled = false;
			document.getElementById("uploadPhoto").style.display = "";
			document.getElementById("change").style.display = "";
		}
	</script>
{% endblock %}


{% block container %}
	<ul class="nav nav-tabs">
		<li class="active"><a href="#perfil" data-toggle="tab">Perfil</a></li>
		<li><a href="#amigos" data-toggle="tab">Amigos</a></li>
		<li><a href="#puntuaciones" data-toggle="tab">Puntuaciones</a></li>
		<li><a href="#mensajes" data-toggle="tab">Mensajes</a></li>
	</ul>

	<div class="tab-content">
		<div class="tab-pane active" id="perfil">
			<div class="row">
				<div class="span12">
					<div class="row">
						<div class="span9">
							<form  class="well" id="formUpdate" action="/perfil" enctype="multipart/form-data" method="post">
								<label><span>Nombre de usuario:</span> </label> <input class="span3" id="textNick" type="text" name="user" value="{{userProfile.nick}}" disabled="true"/>	
								<label><span>Contraseña:</span> </label> <input class="span3" id="textPass" type="password" name="contra" value="{{userProfile.password}}" disabled="disabled"/>
								<label id="repeatpass" style="display:none"><span>Repetir contraseña:</span> </label> <input class="span3" id="textPass2" style="display:none" type="password" name="contra2" value="{{userProfile.password}}"/>
								<label><span>Correo electrónico:</span> </label> <input class="span3" id="textMail" type="text" name="mail" value="{{userProfile.email}}" disabled="disabled"/>
								<br/><label id="change" style="display:none"><span >Cambiar foto:</span> </label> <input type="file" id="uploadPhoto" style="display:none" name="img"/>
								<br/>
								
									{% if user %}
										{% if user == userProfile %}
											<input id="updateProfile" type="button" class="btn btn-primary" value="Modificar perfil" onclick="ModificarPerfil()"/>
											<input id="submitProfile" type="submit" class="btn btn-primary" style="display:none" value="Validar datos"/>
										{% endif %}
									{% endif %}
							</form>
						</div>
						<div class="span3">
							<div class="span3">
								{% if user.avatar %}
								<img id="avatar" src="/imgs/user?img_id={{userProfile.key}}" width="200" height="200" alt="Imagen de usuario"/> 
								{% else %}
								<img id="avatar" src="/img/layout/default-user.jpg" alt="Imagen de usuario"/> 
								{% endif %}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	
		<div class="tab-pane" id="amigos">
			<div class="row">
				<div class="span12">
					<div class="row">
						<div class="span9">
							{% if user %}
								{% if user != userProfile %}
									{% if not isAmigo %}
										<a class="btn btn-info" href="/perfil?user={{userProfile.nick}}&amistad=0"><i class="icon-heart icon-white"></i> Pedir amistad</a>
									{% else %}
										<h3>Ya sois amigos</h3>
									{% endif %}
								{% endif %}
							{% endif %}
							
							{% if user %}
								{% if user == userProfile %}
									<h2> Peticiones </h2>
									{% for p in listaPeticiones %}
										<form class="well">
											<h3><a href="/perfil?user={{p.amigo.nick}}">{{p.amigo.nick}}</a>
											<a class="btn btn-success btn-mini" href="/perfil?user={{userProfile.nick}}&aceptar={{p.amigo.nick}}"><i class="icon-ok icon-white"></i></a>
											<a class="btn btn-danger btn-mini" href="/perfil?user={{userProfile.nick}}&denegar={{p.amigo.nick}}"><i class="icon-remove icon-white"></i></a></h3>
										</form>
									{%endfor%}
									<hr></hr>
									<h2> Lista </h2>
									{% for p in listaAmigos %}
										<form class="well">
											<h3><a href="/perfil?user={{p.amigo.nick}}">{{p.amigo.nick}}</a>
											<a class="btn btn-danger btn-mini" href="/perfil?user={{userProfile.nick}}&eliminar={{p.amigo.nick}}"><i class="icon-remove-sign icon-white"></i></a></h3>
										</form>
									{%endfor%}
								{% endif %}
							{% endif %}
						</div>
						<div class="span3">
								{% if user.avatar %}
								<img id="avatar" src="/imgs/user?img_id={{userProfile.key}}" width="200" height="200" alt="Imagen de usuario"/> 
								{% else %}
								<img id="avatar" src="/img/layout/default-user.jpg" alt="Imagen de usuario"/> 
								{% endif %}
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="tab-pane" id="puntuaciones">
			<div class="row">
				<div class="span12">
					<div class="row">
						<div class="span9">
							<form class="well">
								<h6>Total</h6>
								<h1>{{userProfile.ptos}} ptos</h1> 
							</form>
							<hr></hr>
							<p><h2>Últimas partidas</h2></p>
							{% for p in listaPartidas %}
								<form class="well">
									<h4>{{p.nombrePartida}}</h4>
									<h5>{{p.ptos}}</h5>
									{% if p.win %}
										<p><i class="icon-star-empty icon-white"></i></p>
									{% endif %}
								</form>
							{%endfor%}
						</div>
						<div class="span3">
								{% if user.avatar %}
								<img id="avatar" src="/imgs/user?img_id={{userProfile.key}}" width="200" height="200" alt="Imagen de usuario"/> 
								{% else %}
								<img id="avatar" src="/img/layout/default-user.jpg" alt="Imagen de usuario"/> 
								{% endif %}
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="tab-pane" id="mensajes">
			<ul class="nav nav-tabs">
				<li class="active"><a href="#received" data-toggle="tab">Recibidos</a></li>
				<li><a href="#sent" data-toggle="tab">Enviados</a></li>
			</ul>
				<div class="row">
					<div class="span12">
						<div class="row">
							<div class="span9">
								<p><h2>Enviar Mensaje</h2></p>
								<form class="well">
									<h6>Aquí deben aparecer los amigos</h6>
									<br/>
										{% for p in listaUsers %}
												<h3><a href="/perfil?user={{p.nick}}">{{p.nick}}</a>
												<a class="btn btn-danger btn-mini" href="/perfil?user={{userProfile.nick}}&eliminar={{p.nick}}"><i class="icon-remove-sign icon-white"></i></a></h3>
										{%endfor%}								
									<form id="sendMessage" method="post" onsubmit="">
										<textarea rows="5" cols="1"></textarea>
										<br/>
										<input type="submit" value="Enviar"/>
										<input type="reset" value="Borrar"/>
									</form>
								</form>
								<hr></hr>
							</div>
							<div class="span3">
									{% if user.avatar %}
									<img id="avatar" src="/imgs/user?img_id={{userProfile.key}}" width="200" height="200" alt="Imagen de usuario"/> 
									{% else %}
									<img id="avatar" src="/img/layout/default-user.jpg" alt="Imagen de usuario"/> 
									{% endif %}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>		
	</div>

<!--div class="modal hide fade" id="myModal">
	<div class="modal-header">
		<a class="close" data-dismiss="modal">×</a>
		<h3>Crear nueva sala</h3>
	</div>
	<div class="modal-body">
	
		<form class="form-horizontal" id="creaSalaForm" action="/salas?p=1" method="post">
			<fieldset>
				<div class="control-group">
					<label class="control-label" for="inputNombre">Nombre</label>
					<div class="controls">
						<input type="text" name="nombre" id="inputNombre">
						<!-- <span class="help-inline">***</span> -->
					<!--/div>
				</div>
				<div class="control-group">
					<label class="control-label" for="inputPass">Password</label>
					<div class="controls">
						<input type="text" name="password" id="inputPass" disabled="disabled">
						<label class="checkbox">
                                                    <input type="checkbox" onclick='activaPass(this);'> Activar
                                                </label>
					</div>
				</div>
                                
                                <div class="control-group">
                                    <label class="control-label" for="select01">Tipo de juego</label>
                                    <div class="controls">
                                      <select name="tipo" id="select01" onchange='changeTipo(this);'>
                                        <option>Puntos</option>
                                        <option>Rondas</option>
                                      </select>
                                      <span class="help-inline"> ¿Tienes <a href="/">dudas</a>? </span> 
                                    </div>
                                </div>
                                
                                <div class="control-group" id="Puntos">
					<label class="control-label" for="inputPuntos">Num. de puntos</label>
					<div class="controls">
						<input type="text" value='0' name="puntos" id="inputPuntos">
						<span class="help-inline" value="HOLA"></span>
					</div>
				</div>

                                <!--<div class="control-group hide" id="Rondas">
					<label class="control-label" for="inputRondas">Num. de rondas</label>
					<div class="controls">
						<input type="text" name="tema" id="inputTema">
						<span class="help-inline">***</span> 
					</div>
                                </div> -->
                                
                                <!--div class="control-group">
                                    <label class="control-label" for="select02">Temática</label>
                                    <div class="controls">
                                      <select name="tema" id="select02">
                                        <option>Ninguna</option>
                                        <option>Animales</option>
                                        <option>Playa</option>
                                      </select>
                                    </div>
                                </div>
                                
                                <!--<div class="control-group">
					<label class="control-label" for="inputTiempo">Tiempo</label>
					<div class="controls">
						<input type="text" name="tiempo" id="inputTiempo">
						<span class="help-inline">00:00:00</span>
					</div>
				</div>>
                                
				<div class="form-actions hide">
					<button type="submit" class="btn btn-primary">Crear sala</button>
				</div>
			</fieldset>
		</form>
	</div>
	<div class="modal-footer">
		<a href="#" class="btn" data-dismiss="modal">Cancelar</a>
		<a href="#" class="btn btn-primary" id="createButton">Crear sala</a>
	</div>	
</div-->
	
	
	

{% endblock %}

