{% extends "templates/pattern.html" %}

{% block title %}Perfil{% endblock %}

{% block script %}
	<script>
		$('#myTab').tab('show')
		$(function () {
			$('.tabs a:last').tab('show')
		})
		
		function ModificarPerfil()
		{
			
			document.getElementById("textNick").disabled = false;
			document.getElementById("textPass").disabled = false;
			document.getElementById("updateProfile").style.display = "none";
			document.getElementById("submitProfile").style.display = "";
			document.getElementById("repeatpass").style.display = "";
			document.getElementById("textPass2").style.display = "";
			document.getElementById("textMail").disabled = false;
			document.getElementById("uploadPhoto").style.display = "";
		}
	</script>
{% endblock %}


{% block container %}
	<ul class="nav nav-tabs">
		<li class="active"><a href="#perfil" data-toggle="tab">Perfil</a></li>
		<li><a href="#amigos" data-toggle="tab">Amigos</a></li>
		<li><a href="#puntuaciones" data-toggle="tab">Puntuaciones</a></li>
	</ul>

	<div class="tab-content">
		<div class="tab-pane active" id="perfil">
			<div class="row">
				<div class="span12">
					<div class="row">
						<div class="span9">
							<label><span>Nombre de usuario:</span> </label> <input id="textNick" type="text" name="user" value="{{userProfile.nick}}" disabled="true"/>	
							<label><span>Contraseña:</span> </label> <input id="textPass" type="password" name="contra" value="{{userProfile.password}}" disabled="disabled"/>
							<label id="repeatpass" style="display:none"><span>Repetir contraseña:</span> </label> <input id="textPass2" style="display:none" type="password" name="contra2" value="{{userProfile.password}}"/>
							<label><span>Correo electrónico:</span> </label> <input id="textMail" type="text" name="mail" value="{{userProfile.email}}" disabled="disabled"/>
	
							<br/>
								<input id="updateProfile" type="button" class="btn btn-primary" value="Modificar perfil" onclick="ModificarPerfil()"/>
								<input id="submitProfile" type="submit" class="btn btn-primary" style="display:none" value="Validar datos"/>	
						</div>
						<div class="span3">
							<br/>
							<input type="file" id="uploadPhoto" name="img" style="display:none"/>
						</div>
					</div>
				</div>
			</div>
		</div>
	
		<div class="tab-pane" id="amigos">
			<div class="row">
				<div class="span12">
					<div class="row">
						<div class="span9">
							{% if user %}
								{% if user != userProfile %}
									{% if not isAmigo %}
										<a class="btn btn-info" href="/perfil?user={{userProfile.nick}}&amistad=0"><i class="icon-heart icon-white"></i> Pedir amistad</a>
									{% else %}
										<h3>Ya sois amigos</h3>
									{% endif %}
								{% endif %}
							{% endif %}
							
							{% if user %}
								{% if user == userProfile %}
									<h2> Peticiones </h2>
									{% for p in listaPeticiones %}
										<form class="well">
											<h3><a href="/perfil?user={{p.amigo.nick}}">{{p.amigo.nick}}</a>
											<a class="btn btn-success btn-mini" href="/perfil?user={{userProfile.nick}}&aceptar={{p.amigo.nick}}"><i class="icon-ok icon-white"></i></a>
											<a class="btn btn-danger btn-mini" href="/perfil?user={{userProfile.nick}}&denegar={{p.amigo.nick}}"><i class="icon-remove icon-white"></i></a></h3>
										</form>
									{%endfor%}
									<hr></hr>
									<h2> Lista </h2>
									{% for p in listaAmigos %}
										<form class="well">
											<h3><a href="/perfil?user={{p.amigo.nick}}">{{p.amigo.nick}}</a>
											<a class="btn btn-danger btn-mini" href="/perfil?user={{userProfile.nick}}&eliminar={{p.amigo.nick}}"><i class="icon-remove-sign icon-white"></i></a></h3>
										</form>
									{%endfor%}
								{% endif %}
							{% endif %}
						</div>
						<div class="span3">
							<img id="avatar" src="/img/layout/default-user.jpg" alt="Imagen de usuario"/> 
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="tab-pane" id="puntuaciones">
			<div class="row">
				<div class="span12">
					<div class="row">
						<div class="span9">
							<form class="well">
								<h6>Total</h6>
								<h1>{{userProfile.ptos}} ptos</h1> 
							</form>
							<hr></hr>
							<p><h2>Últimas partidas</h2></p>
							{% for p in listaPartidas %}
								<form class="well">
									<h4>{{p.nombrePartida}}</h4>
									<h5>{{p.ptos}}</h5>
									{% if p.win %}
										<p><i class="icon-star-empty icon-white"></i></p>
									{% endif %}
								</form>
							{%endfor%}
						</div>
						<div class="span3">
							<img id="avatar" src="/img/layout/default-user.jpg" alt="Imagen de usuario"/> 
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


{% endblock %}

