{% extends "templates/pattern.html" %}

{% block title %}Registro{% endblock %}

{% block script %}
	<script>
		
		$(document).ready(function() {	
			$('#formRegistro').on('submit', function(e) {
				console.log('yes');
				$('.help-inline').hide();
				$('.control-group').removeClass('error');
				if (validaRegistro() == false)
					e.preventDefault();
			});			
		});
		
		function validaRegistro()
		{
			var correcto = true;
						
			var nick = $('#inputRegNick');
			var regexUserPass = /^([A-Za-z0-9])+$/;
			if (nick.val() == "" || !regexUserPass.test(nick.val()))
			{
				nick.parents('div.control-group').addClass('error').find('.help-inline').show();
				correcto = false;
			}
			
			var pass = $('#inputRegPass');
			if (pass.val() == "" || !regexUserPass.test(pass.val()))
			{
				pass.parents('div.control-group').addClass('error').find('.help-inline').show();
				correcto = false;
			}
			
			var pass2 = $('#inputRegPass2');
			if (pass2.val() == "" || pass2.val() != pass.val())
			{
				pass2.parents('div.control-group').addClass('error').find('.help-inline').show();
				correcto = false;
			}
			
			var mail = $('#inputRegMail');
			var regexMail = /^[a-z0-9-_]+(\.[_a-z0-9-]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/;
			if (mail.val() == "" || !regexMail.test(mail.val()))
			{
				mail.parents('div.control-group').addClass('error').find('.help-inline').show();
				correcto = false;
			}
			
			return correcto;
		}		
	</script>

{% endblock %}

{% block container %}
	<div class="row">
		<div class="span12">
			<form class="form-horizontal" id="formRegistro" action="/registro" method="post">
				<fieldset>
				<legend>Registro</legend>
					<div class="control-group">
						<label class="control-label" for="inputRegNick">Nick</label>
						<div class="controls">
							<input type="text" name="user" id="inputRegNick">
							<span class="help-inline hide">El nombre de usuario sólo admite caracteres alfanuméricos</span>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="inputRegPass">Contraseña</label>
						<div class="controls">
							<input type="password" name="contra" id="inputRegPass">
							<span class="help-inline hide">La contraseña sólo admite caracteres alfanuméricos</span>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="inputRegPass2">Repetir contraseña</label>
						<div class="controls">
							<input type="password" name="contra2" id="inputRegPass2">
							<span class="help-inline hide">Las contraseñas no coinciden</span>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="inputRegMail">Correo electronico</label>
						<div class="controls">
							<input type="text" name="mail" id="inputRegMail">
							<span class="help-inline hide">La dirección de e-mail no es correcta</span>
						</div>
					</div>
					<div class="form-actions">
						<button type="submit" class="btn btn-primary">Completar registro</button>
					</div>
				</fieldset>
			</form>  
		</div>
	</div>

<!--

	<h2>Registro de usuarios</h2>
	<form id="f1" action="/registro" method="post" onsubmit="return validaregistro(this)">

		<label for="user">Nombre Usuario: </label>
		<br />  
		<input type="text" id="user" name="user" maxlength="20" style="float:left"/> <p id="erroruser" style="display:none"> El nombre de usuario sólo admite caracteres alfanuméricos</p>
		<br/>
		<br />  
		<br />
		<label for="contra">Contraseña: </label>
		<br />  
		<input type="password" id="contra" name="contra" maxlength="20" style="float:left"/> <p id="errorpass" style="display:none"> La contraseña sólo admite caracteres alfanuméricos</p>
		<br/>
		<br />  
		<br />
		<label for="contra2">Repetir contraseña: </label>
		<br />  
		<input type="password" id="contra2" name="contra2" style="float:left"/> <p id="errorpass2" style="display:none">Las contraseñas no coinciden </p>
		<br/>
		<br />  
		<br />
		<label for="dir">Dirección de e-mail: </label>
		<br />  
		<input type="text" id="mail" name="mail" maxlength="40" style="float:left"/> <p id="errormail" style="display:none">La dirección de e-mail no es correcta </p>
		<br/>
		<br />  
		<br />
		<input type="submit" value="Enviar"/>
	</form>
-->
{% endblock %}


