{% extends "templates/pattern.html" %}

{% block head %}

<script>
 
$(document).ready(function() {  
 
    //select all the a tag with name equal to modal
	$('a#modal').on("click", function(e) {
		e.preventDefault();
		$("#formSalas").fadeIn("normal", function() {
			$("#formSalasBox").fadeIn();
		}).on("click", function() {
			$("#formSalas").fadeOut("normal", function() {
				$("#formSalasBox").hide();
			});
		}).children().click(function(e) {
			return false;
		});
	});

     
    //if close button is clicked
    $('.window .close').click(function (e) {
        //Cancel the link behavior
        e.preventDefault();
        $('#mask, .window').hide();
    });     
     
    //if mask is clicked
    $('#mask').click(function () {
        $(this).hide();
        $('.window').hide();
    });         
     
});
 
</script>

{% endblock %}

{% block title %}Salas{% endblock %}

{% block content %}
        <div id="ListaSalasBody">
            <a href="#formSalas" id="modal">Crear sala</a>
            

            {% if numSalas > 0 %}	
	    <div id="listaPaginas">
                <div id="prevArrow">
                {% if prevPage != 0 %}
                <a href=/salas?p={{prevPage}}><img src="/img/ListadoPartidas/prev.png" alt="Anterior" /></a>
                {% endif %}
                {% if prevPage == 0 %}
                <a href=/salas?p={{prevPage}}><img src="/img/ListadoPartidas/blank.png" alt="Anterior" /></a>
                {% endif %}
                </div>
            
		<div id="numPags">{{pag}}/<b>{{pags}}</b></div>
                
                <div id="nextArrow">
                {% if nextPage <= pags %}
		<a href=/salas?p={{nextPage}}><img src="/img/ListadoPartidas/next.png" alt="Siguiente" /></a>
                {% endif %}
                {% if nextPage > pags %}
                <a href=/salas?p={{nextPage}}><img src="/img/ListadoPartidas/blank.png" alt="Siguiente" /></a>
                {% endif %}
                </div>
	    </div>    
            <div id="ListaSalas">
                {% for sala in salas_list %}
                    <div class="Sala">
                        <div class="rowNomb">{{sala.nombre}}<img src="/img/ListadoPartidas/unlock.png" alt="Estado" /></div>
                        <div class="bodyRow">
                            <div class="rowAutor"><img src="/img/ListadoPartidas/master.png" alt="Master" /> {{sala.autor}}</div>
                            <div class="rowFecha"><img src="/img/ListadoPartidas/fecha.png" alt="Fecha de creacion" /> {{sala.fechaCrea.hour}}:{{sala.fechaCrea.minute}}</div>
                            <div class="rowTipo"><img src="/img/ListadoPartidas/tipo.png" alt="Tipo" />Pictionary</div>
                            <div class="rowPlayers"><img src="/img/ListadoPartidas/players.png" alt="Jugadores" />5/10</div>
                            <div class="rowEnter"><a href="/salajuego?id={{sala.idSala}}"><img src="/img/ListadoPartidas/enter.png" alt="Jugar" /></a></div>
                        </div>
                    </div>
                {% endfor %}
            </div>    
            {% endif %}
            {% if numSalas == 0%}
                No hay ninguna sala creada
            {% endif %}
                
        </div>
{% endblock %}

{% block body %}
	<div id="formSalas">
        <form action="/salas?p=1" method="post" id="formSalasBox">
            <p><b>Nombre: </b><input type="text" name="nombre"></p>
            <p><b>Password: </b><input type="text" name="password" disabled="disabled"></p>
            <p><b>Tipo: </b><input type="text" name="password" disabled="disabled"></p>
            <div id="buttons">
                <button type="submit" class="positive" name="save">
                    <img src="/img/ListadoPartidas/master.png" alt=""/>
                    Crear Sala
                </button>
            </div>
        </form>
    </div>
{% endblock %}
