{% extends "templates/pattern.html" %}

{% block title %}Salas{% endblock %}

{% block script %}
	<script>
		$(document).ready(function() {	
			$("#createButton").on('click', function() {
				$("#creaSalaForm").submit();
                                
			});
		});
                
                $(document).ready(function() {	
			$("#searchButton").on('click', function() {
				$("#BuscaSalaForm").submit();
                                window.location = '/salas?p=1&b='+$("#salaText").val();
			});
		});
                
                function changeTipo(elm)
                {
                    var num = elm.selectedIndex;
                    
                    if(elm.options[num].text == 'Puntos')
                    {
                         $("#Puntos").attr('class', 'control-group')
                         //$("#Rondas").attr('class', 'control-group hide')
                    }
                    else
                    {
                        // $("#Rondas").attr('class', 'control-group')
                         $("#Puntos").attr('class', 'control-group hide')
                    }
                   
                }
                
                function activaPass(est)
                {
                    if (est.checked)
                    {
                        $("#inputPass").removeAttr("disabled")
                    }
                    else
                    {
                        $("#inputPass").attr('disabled', 'disabled')
                    }
                }
	</script>
	
{% endblock %}

{% block container %}
<!--
	<h2>Listado de salas</h2>
        <div id="ListaSalasBody">
            
            {% if user %}
            <div id="nuevaSala">
                <div id="buttons" class="modal">
                    <button name="save">
                        <img src="/img/ListadoPartidas/master.png" alt=""/>
                        Crear Sala
                    </button>
                </div>
            </div>
            {% endif %}

            {% if numSalas > 0 %}	
	    <div id="listaPaginas">
                <div id="prevArrow">
                {% if prevPage != 0 %}
                <a href=/salas?p={{prevPage}}><img src="/img/ListadoPartidas/prev.png" alt="Anterior" /></a>
                {% endif %}
                {% if prevPage == 0 %}
                <a href=/salas?p={{prevPage}}><img src="/img/ListadoPartidas/blank.png" alt="Anterior" /></a>
                {% endif %}
                </div>
            
		<div id="numPags">{{pag}}/<b>{{pags}}</b></div>
                
                <div id="nextArrow">
                {% if nextPage <= pags %}
		<a href=/salas?p={{nextPage}}><img src="/img/ListadoPartidas/next.png" alt="Siguiente" /></a>
                {% endif %}
                {% if nextPage > pags %}
                <a href=/salas?p={{nextPage}}><img src="/img/ListadoPartidas/blank.png" alt="Siguiente" /></a>
                {% endif %}
                </div>
	    </div>    
            <div id="ListaSalas">
                {% for sala in salas_list %}
                    <div class="Sala">
                        <div class="rowNomb">{{sala.nombre}}<img src="/img/ListadoPartidas/unlock.png" alt="Estado" /></div>
                        <div class="bodyRow">
                            <div class="rowAutor"><img src="/img/ListadoPartidas/master.png" alt="Master" /> {{sala.autor}}</div>
                            <div class="rowFecha"><img src="/img/ListadoPartidas/fecha.png" alt="Fecha de creacion" /> {{sala.fechaCrea.hour}}:{{sala.fechaCrea.minute}}</div>
                            <div class="rowTipo"><img src="/img/ListadoPartidas/tipo.png" alt="Tipo" />Pictionary</div>
                            <div class="rowPlayers"><img src="/img/ListadoPartidas/players.png" alt="Jugadores" />{{sala.players}}/10</div>
                            <div class="rowEnter"><a href="/salajuego?id={{sala.idSala}}">Entrar</a></div>
                        </div>
                    </div>
                {% endfor %}
            </div>    
            {% endif %}
            {% if numSalas == 0%}
                No hay ninguna sala creada
            {% endif %}
                
        </div>
-->









	<div class="row">
		<div class="span12">
                        <div class="row">
                            <div class="span12">
                                <form class="well form-search" id="BuscaSalaForm" action="/salas?p=1" method="get">
                                    <button href="#" id="searchButton" class="btn pull-right">Buscar</button>
                                    <input type="text" id="salaText" name="salaText" class="input-medium search-query pull-right">
                                    {% if user %}
                                        <a class="btn btn-inverse" data-toggle="modal" href="#myModal" ><i class="icon-plus icon-white"></i> Crear Sala</a>
                                    {% endif %}
                                </form>
                            </div>
                        </div>
			<div class="row">
				<div class="span10 offset1">
					<div class="accordion" id="accordion2">
						{% for sala in salas_list %}
						<div class="accordion-group">
							<div class="accordion-heading" style="background-color: #E6E6E6;">
								<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse{{sala.key}}">
								{{sala.nombre}}
                                                                <i class="icon-plus-sign pull-right"></i>
								</a>
                                                                
							</div>
							<div id="collapse{{sala.key}}" class="accordion-body collapse" style="height: 0px; ">
								<div class="accordion-inner">
									<p><i class="icon-star"></i> {{sala.autor}}</p>
                                                                        <p><i class="icon-time"></i> {{sala.fechaCrea.hour}}:{{sala.fechaCrea.minute}}</p>
                                                                        <p><i class="icon-flag"></i> {{sala.tipo}}</p>
                                                                        <p><i class="icon-user"></i> {{sala.players}}/10</p>
                                                                        <p><a class="btn btn-success" href="/salajuego?id={{sala.idSala}}"><i class="icon-arrow-right icon-white"></i> Entrar </a></p>
								</div>
							</div>
						</div>
						{% endfor %}				
					</div>
				</div>
			</div>		
		</div>
	</div>














<div class="modal hide fade" id="myModal">
	<div class="modal-header">
		<a class="close" data-dismiss="modal">×</a>
		<h3>Crear nueva sala</h3>
	</div>
	<div class="modal-body">
	
		<form class="form-horizontal" id="creaSalaForm" action="/salas?p=1" method="post">
			<fieldset>
				<div class="control-group">
					<label class="control-label" for="inputNombre">Nombre</label>
					<div class="controls">
						<input type="text" name="nombre" id="inputPalabra">
						<!-- <span class="help-inline">---</span> -->
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="inputPass">Password</label>
					<div class="controls">
						<input type="text" name="password" id="inputPass" disabled="disabled">
						<label class="checkbox">
                                                    <input type="checkbox" onclick='activaPass(this);'> Activar
                                                </label>
					</div>
				</div>
                                
                                <div class="control-group">
                                    <label class="control-label" for="select01">Tipo de juego</label>
                                    <div class="controls">
                                      <select name="tipo" id="select01" onchange='changeTipo(this);'>
                                        <option>Puntos</option>
                                        <option>Rondas</option>
                                      </select>
                                      <span class="help-inline"> ¿Tienes <a href="/">dudas</a>? </span> 
                                    </div>
                                </div>
                                
                                <div class="control-group" id="Puntos">
					<label class="control-label" for="inputPuntos">Num. de puntos</label>
					<div class="controls">
						<input type="text" name="puntos" id="inputTema">
						<!-- <span class="help-inline">---</span> -->
					</div>
				</div>

                                <!--<div class="control-group hide" id="Rondas">
					<label class="control-label" for="inputRondas">Num. de rondas</label>
					<div class="controls">
						<input type="text" name="tema" id="inputTema">
						<!-- <span class="help-inline">---</span> 
					</div>
                                </div> -->
                                
                                <div class="control-group">
                                    <label class="control-label" for="select02">Temática</label>
                                    <div class="controls">
                                      <select name="tema" id="select02">
                                        <option>Ninguna</option>
                                        <option>Animales</option>
                                        <option>Playa</option>
                                      </select>
                                    </div>
                                </div>
                                
                                <!--<div class="control-group">
					<label class="control-label" for="inputTiempo">Tiempo</label>
					<div class="controls">
						<input type="text" name="tiempo" id="inputTiempo">
						<span class="help-inline">00:00:00</span>
					</div>
				</div>-->
                                
				<div class="form-actions hide">
					<button type="submit" class="btn btn-primary">Crear sala</button>
				</div>
			</fieldset>
		</form>
	</div>
	<div class="modal-footer">
		<a href="#" class="btn" data-dismiss="modal">Cancelar</a>
		<a href="#" class="btn btn-primary" id="createButton">Crear sala</a>
	</div>	
</div>

{% endblock %}
