{% extends "templates/pattern.html" %}

{% block title %}Salas{% endblock %}

{% block content %}
    <div id="salaJuegoContent">
        <div id="salaJuegoUsers">
            {% for user in user_list %}
                <div id="playerContainer">
                    <div id="playerAvatar"><img src="/img/Salas/triforce.jpg" alt="Anterior" /></div>
                    <div id="playerDatos">
                        <p>{{user.nick}}</p>
                        <p><b>Ptos:</b> 3212</p>
                    </div>
                </div>
            {% endfor %}
        </div>
        
        <div id="salaJuegoChat">
            <p>Esto es un chat</p>
            <p><b>Coming Soon!</b></p>
        </div>
    
        <div id="salaJuegoChatIn"></div>
        <div id="salaPlay"><p><a href="/juego?gamekey={{gamekey}}">PLAY!</a></p><p><a href="/salajuego?e=1">Salir</a></p></div>
    </div>
{% endblock %}
