{% extends "templates/pattern.html" %}

{% block title %}Salas{% endblock %}

{% block head %}


	<style>
	
		#chatZone-history {
			border: 1px solid silver;
			border-radius: 3px;
			height: 476px;
			margin-bottom: 5px;
		}

		#chatZone-history ul {
			list-style: none;
			font-size: 0.9em;
			overflow: auto;
			height: 466px;
			width: 145px;
			padding: 10px 0;
			
		}

		#chatZone-history li {
			margin: 5px 0;
			color: #333333;
		}

		#chatZone-history li span {
			font-weight: bold;
			color: black;
		}

		#chatZone-history ul::-webkit-scrollbar {
			width: 6px;
		}
		/* Track */
		#chatZone-history ul::-webkit-scrollbar-track {
			-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
			-webkit-border-radius: 10px;
			border-radius: 10px;
		}

		/* Handle */
		#chatZone-history ul::-webkit-scrollbar-thumb {
			-webkit-border-radius: 10px;
			border-radius: 10px;
			background: #EBEBEB;
			-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
		}

		#chatZone-history ul::-webkit-scrollbar-thumb:hover {
			background: #F5F5F5;
		}
		
		#chatZone-form #appendedPrependedInput {
			width: 128px;
		}
        
        
		.playerContainer {
			border: 1px solid silver;
			height: auto;
            margin: 0px 0px 2px 0px;
            width: 85px;
            float: left;
            margin: 0 10px 20px 10px;
            padding: 8px;
		}
		
		.playerContainer img{
            width: 85px;
            height: 85px;
            margin-bottom: 10px;
		}
        
        .playerContainer:hover{
			border-top: 1px solid silver;
            border-bottom: 1px solid silver;
			height: auto;
            background-color: #E0ECF8;
            
		}
		
		.playerContainerNick {
			float: left;
			font-weight: bold;
			width: 60px;
			overflow: hidden;
		}
		
		.dropdown-menu {
			index-z: 99;
		}
		
		
	</style>
{% endblock %}

{% block script %}

	<script type="text/javascript" src='/_ah/channel/jsapi'></script>
	<script type="text/javascript">
		var state = {
			token: '{{ token }}',
			game_key: '{{ game_key }}',
			user_key: '{{ user.key }}'
		};		
	</script>
	<script type="text/javascript" src='js/broadcast.js'></script>
	<script type="text/javascript" src='js/chat.js'></script>
	<script type="text/javascript">
		
		var audioElement = document.createElement('audio');
		audioElement.src='img/in.mp3';
		
		
		Broadcast.init({
			state: state,	// Declarado en juego.html
			onopen: function() {
			},
			onmessage: function(m) {
				dat = JSON.parse(m.data);
                if(dat.type == "chat")
                {
                    ChatZone.receiveMessage(dat.content);
                }
                else if(dat.type == "sala")
                {
                    if(dat.content.userAvatar==1)
                    {
                        var li = $("<div></div>", {
                        id: dat.content.userNick,
                        class: "playerContainer",
                        html: "<img id='avatar' src='/imgs/user?img_id="+dat.content.userKey+"' alt='Imagen de usuario'/><a href='/perfil?user="+dat.content.userNick+"' title='Ir al perfil de "+dat.content.userNick+"' class='playerContainerNick'>"+dat.content.userNick+"</a><div class='btn-group pull-right'><a class='btn btn-mini dropdown-toggle pull-right' data-toggle='dropdown' href='#'><span class='caret'></span></a><ul class='dropdown-menu'><li><a target='_blank' href='/perfil?user="+dat.content.userNick+"#amigos'><i class='icon-heart'></i> Amistad</a></li><li><a target='_blank' href='/perfil#mensajes'><i class='icon-envelope'></i> Msj. Privado</a></li></ul></div>" 
                        }).appendTo("#playersBox");
                    }
                    else
                    {
                        var li = $("<div></div>", {
                        id: dat.content.userNick,
                        class: "playerContainer",
                        html: "<img id='avatar' src='/img/layout/default-user.jpg' alt='Imagen de usuario'/><a href='/perfil?user="+dat.content.userNick+"' title='Ir al perfil de "+dat.content.userNick+"' class='playerContainerNick'>"+dat.content.userNick+"</a><div class='btn-group pull-right'><a class='btn btn-mini dropdown-toggle pull-right' data-toggle='dropdown' href='#'><span class='caret'></span></a><ul class='dropdown-menu'><li><a target='_blank' href='/perfil?user="+dat.content.userNick+"#amigos'><i class='icon-heart'></i> Amistad</a></li><li><a target='_blank' href='/perfil#mensajes'><i class='icon-envelope'></i> Msj. Privado</a></li></ul></div>" 
                        }).appendTo("#playersBox");
                    }
                    audioElement.load();
                    audioElement.play();
                }
                else if(dat.type == "salaExit")
                {
                    $("#"+dat.content.userNick).remove();
                }
			}				
		});

		ChatZone.init({
			history: $('#chatZone-history'),
			form: $('#chatZone-form'),
			urlChat: 'http://'+location.host+'/salabroadcast/chat',
			sender: Broadcast.sendMessage
		});		
		
		$("#inputUrl").val(location.href);
			
		
	</script>

{% endblock %}

{% block container %}
	<div class="row">
		<div class="span9" id="playersBox">
			{% for user in user_list %}
                <div class="playerContainer" id="{{user.nick}}">
					{% if user.avatar %}
						<img id="avatar" src="/imgs/user?img_id={{user.key}}" alt="Imagen de usuario"/> 
					{% else %}
						<img id="avatar" src="/img/layout/default-user.jpg" alt="Imagen de usuario"/> 
					{% endif %}
					<a href="/perfil?user={{user.nick}}" title="Ir al perfil de {{user.nick}}" class="playerContainerNick">{{user.nick}}</a>
					<div class="btn-group pull-right">
						<a class="btn btn-mini dropdown-toggle pull-right" data-toggle="dropdown" href="#"><span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a target="_blank" href="/perfil?user={{user.nick}}#amigos"><i class="icon-heart"></i> Amistad</a></li>
							<li><a target="_blank" href="/perfil#mensajes"><i class="icon-envelope"></i> Msj. Privado</a></li>
						</ul>
					</div> 
                </div>
            {% endfor %}
		</div>
		<div class="span3">
			<div id="chatZone-history">
				<ul>				
				</ul>
			</div>
			<form class="form-horizontal" id="chatZone-form">
				<fieldset>
					 <input type="text" class="span3" placeholder="Mensaje">
				</fieldset>
			</form>		
		</div>
	</div>
	
	<div class="row">
		<div class="span9">
			<form class="form-inline">
				<div class="control-group pull-ledt">
					<div class="controls">
						<div class="input-prepend">
							<span class="add-on"><i class="icon-gift"></i> Invita a un jugador</span><input class="span7" id="inputUrl" type="text" disabled="disabled">
						</div>
					</div>
				</div>
			</form>
		</div>
		<div class="span3">
			<a class="btn btn-success" href="/juego?gamekey={{gamekey}}"><i class="icon-play icon-white"></i> Jugar!</a>
			<a id="btSalir" class="btn btn-danger" href="/salajuego?e=1"><i class="icon-remove icon-white"></i> Salir</a>
		</div>
	</div>

{% endblock %}
