{% extends "templates/pattern.html" %}

{% block title %}Salas{% endblock %}

{% block script %}
	<script type="text/javascript" src='/_ah/channel/jsapi'></script>
	<script type="text/javascript">
		var state = {
			token: '{{ token }}',
			game_key: '{{ game_key }}',
			user_key: '{{ user.key }}'
		};		
	</script>
	<script type="text/javascript" src='js/broadcast.js'></script>
	<script type="text/javascript" src='js/chat.js'></script>
	<script type="text/javascript">
		
		Broadcast.init({
			state: state,	// Declarado en juego.html
			onopen: function() {
				console.log('# Socket open');
			},
			onmessage: function(m) {
				dat = JSON.parse(m.data);
				console.log(dat);
				ChatZone.receiveMessage(dat.content);		
			}				
		});

		ChatZone.init({
			history: $('#chatZone-history'),
			form: $('#chatZone-form'),
			urlChat: 'http://'+location.host+'/salaBroadcast/chat',
			sender: Broadcast.sendMessage
		});		
	</script>

{% endblock %}


{% block content %}

    <div id="salaJuegoContent">
        <div id="salaJuegoUsers">
            {% for user in user_list %}
                <div id="playerContainer">
                    <div id="playerAvatar"><img src="/img/Salas/triforce.jpg" alt="Anterior" /></div>
                    <div id="playerDatos">
                        <a href="/perfil?user={{user.nick}}" title="Ir al perfil de {{user.nick}}">{{user.nick}}</a>
                        <p><b>Ptos:</b> -----</p>
                    </div>
                </div>
            {% endfor %}
        </div>
        
        <div id="salaJuegoChat">
    
        </div>
    
        <div id="salaJuegoChatIn"></div>
        <div id="salaPlay"><p><a href="/juego?gamekey={{gamekey}}">PLAY!</a></p><p><a href="/salajuego?e=1">Salir</a></p></div>
    </div>
{% endblock %}

{% block container %}
	<div class="row">
		<div class="span9">
			1
			{% for user in user_list %}
			<a href="/perfil?user={{user.nick}}" title="Ir al perfil de {{user.nick}}">{{user.nick}}</a>
            {% endfor %}
		</div>
		<div class="span3">
			<div id="chatZone-history">
				<ul>				
				</ul>
			</div>
			<form class="form-horizontal" id="chatZone-form">
				<fieldset>
					<div class="input-append">
						<input class="span" id="appendedPrependedInput" style="width: 120px" size="6" type="text"><button class="btn" type="button">></button>
					</div>
				</fieldset>
			</form>	
		</div>
	</div>
	
	<div class="row">
		<div class="span9">
			3
		</div>
		<div class="span3">
			4
			<a href="/juego?gamekey={{gamekey}}">PLAY!</a>
			<a href="/salajuego?e=1">Salir</a>
		</div>
	</div>

{% endblock %}
