<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    {% block head %}{% endblock %}
	<title>{% block title %}Title{% endblock %} - isi12-pi</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
        /*background-color: #0067C8;*/
      }
    </style>
    <link href="css/bootstrap-responsive.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="../assets/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
  </head>

  <body>

	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</a>
				<a class="brand" href="/">IS1-pi</a>
				<div class="nav-collapse">
					<ul class="nav">
						<li class="active"><a href="/"><i class="icon-home icon-white"></i> Inicio</a></li>
						<li><a href="/salas">Salas</a></li>
						<!--
						<li><a href="#">Juegos</a></li>
						-->												
					</ul>
					<ul class="nav pull-right">
						{% ifequal user None %}
						<li><a href="/registro">Registrate</a>
						<li><a href="/login">Entrar</a></li>
						{% else %}
						<li class="dropdown">
							<a href="#"	class="dropdown-toggle"	data-toggle="dropdown"><i class="icon-user icon-white"></i> {{ user.nick }} <b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><a href="/perfil"><i class="icon-cog"></i> Preferencias</a></li>
								<li class="divider"></li>
								<li><a href="/logout"><i class="icon-off"></i> Cerrar sesion</a></li>
							</ul>
						</li>
						{% endifequal %}	
					</ul>
				</div>
			</div>
		</div>
	</div>

	
    <div class="container">
		
		<!-- Avisos y mensajes de error -->
		{% if errorMsg and errorMsg.text %}
		<div class="row">
			<div class="span12">
				<div class="alert alert-error">
					<a class="close" data-dismiss="alert">×</a>
					{% if errorMsg.title %}
					<h4 class="alert-heading">{{ errorMsg.title }}</h4>
					{% else %}
					<h4 class="alert-heading">Ocurrió un error.</h4>
					{% endif %}					
					{{ errorMsg.text }}
				</div>
			</div>
		</div>
		{% endif %}
		
		{% if infoMsg and infoMsg.text %}
		<div class="row">
			<div class="span12">
				<div class="alert alert-info">
					<a class="close" data-dismiss="alert">×</a>
					{% if infoMsg.title %}
					<h4 class="alert-heading">{{ infoMsg.title }}</h4>
					{% else %}
					<h4 class="alert-heading">Ocurrió un error.</h4>
					{% endif %}
					{{ infoMsg.text }}
				</div>
			</div>
		</div>
		{% endif %}
		
		{% if successMsg and successMsg.text %}
		<div class="row">
			<div class="span12">
				<div class="alert alert-success">
					<a class="close" data-dismiss="alert">×</a>
					{% if successMsg.title %}
					<h4 class="alert-heading">{{ successMsg.title }}</h4>
					{% else %}
					<h4 class="alert-heading">La acción se ha realizado correctamente.</h4>
					{% endif %}
					{{ successMsg.text }}
				</div>
			</div>
		</div>
		{% endif %}
		
		
		{% block container %}{% endblock %}
    </div>

	<!--
     Le javascript
    ================================================== 
     Placed at the end of the document so the pages load faster 
	-->
    <script src="http://twitter.github.com/bootstrap/assets/js/jquery.js"></script>
    <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-transition.js"></script>
    <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-alert.js"></script>
    <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-modal.js"></script>
    <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-dropdown.js"></script>
    <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-scrollspy.js"></script>
    <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-tab.js"></script>
    <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-tooltip.js"></script>
    <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-popover.js"></script>
    <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-button.js"></script>
    <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-collapse.js"></script>
    <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-carousel.js"></script>
    <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-typeahead.js"></script>
    {% block script %}{% endblock %}

  </body>
</html>
